<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    {% comment %} <link rel="stylesheet" href="/node_modules/owl.carousel/dist/assets/owl.carousel.min.css" /> {% endcomment %}
    <link rel="stylesheet" href="../static/css/Category.css">
    <link rel="stylesheet" href="../static/css/Product.css">
    <link rel="stylesheet" href="../static/css/detail.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="../static/css/owl.carousel.css">
    <title>KIMDAN SHOP</title>
</head>

<body>


    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/"><img src="/KimDanShop/static/images/324929106_1317176302392679_4971656670250864952_n-removebg-preview.png" width="100px" height="70px" alt="" srcset=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Store <span class="sr-only">(current)</span></a>
                </li>

            </ul>
            {{customer}}
            <ul class="navbar-nav my-2 my-lg-0">
                {% if request.session.customer %}
                <li class="nav-item ">
                    <a class="nav-link" href="/chat"><i class="fas fa-comment"></i> Chat <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/cart"><i class="fa-solid fa-cart-shopping"></i> Giỏ hàng
                        <span class="badge badge-warning">{{request.session.cart.keys|length}}</span>
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/orders"><i class="fa-solid fa-list"></i> Đơn hàng<span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/logout"><i class="fa-solid fa-arrow-right-from-bracket"></i> Đăng xuất <span class="sr-only">(current)</span></a>
                </li>
                {% else %}
                <li class="nav-item ">
                    <a class="nav-link" href="/signup"><i class="fa-sharp fa-solid fa-user-plus"></i> Đăng ký <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/login"><i class="fa-solid fa-arrow-right-to-bracket"></i> Đăng nhập <span class="sr-only">(current)</span></a>
                </li>
                {% endif %}
            </ul>

        </div>
    </nav>

    {% block content %}{% endblock content %}
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="footer_item">
                        <h3>CHÍNH SÁCH VÀ QUY ĐỊNH</h3>
                        <ul>

                            <li>
                                <a title="Cách thức đặt hàng" href="#">Cách thức đặt hàng</a>

                            </li>
                            <li><a title="Chính sách thành viên" href="#">Chính sách thành viên</a></li>
                            <li><a title="Chính sách giao hàng" href="#">Chính sách giao hàng</a></li>
                            <li><a title="Quy định đổi trả" href="#">Quy định đổi trả</a></li>
                            <li><a title="Hình thức thanh toán" href="#">Hình thức thanh toán</a></li>
                            <li><a title="Chính sách bảo mật" href="#">Chính sách bảo mật</a></li>
                            <li><a title="Chính sách xử lý khiếu nại" href="#">Chính sách xử lý khiếu nại</a></li>

                        </ul>
                    </div>

                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="footer_item">
                        <h3>HỆ THỐNG CỬA HÀNG</h3>
                        <ul>

                            <li>
                                <p><i class="fa-solid fa-caret-right"></i> Cơ sở 1: Số 8 Tô Vĩnh Diện</p>
                            </li>
                            <li>
                                <p><i class="fa-solid fa-caret-right"></i> Cơ sở 2: Số 32 Lê Thanh Nghị</p>
                            </li>
                            <li>
                                <p><i class="fa-solid fa-caret-right"></i> Cơ sở 3: Số 325 Cầu Giấy</p>
                            </li>
                            <li>
                                <p><i class="fa-solid fa-caret-right"></i> Cơ sở 4: Số 127 Thanh Trì</p>
                            </li>
                            <li>
                                <p><i class="fa-solid fa-caret-right"></i> Cơ sở 5: Số 56 Tây Hồ</p>
                            </li>


                        </ul>
                    </div>

                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="footer_item">
                        <h3>VỀ CHÚNG TÔI</h3>
                        <img class="mb-10" src="/KimDanShop/static/images/324929106_1317176302392679_4971656670250864952_n.png" width="100%" height="150px" alt="" srcset="">
                        <p><i class="fa-solid fa-location-dot"></i> Ngõ 48-Tô Vĩnh Diện-Thanh Xuân-Hà Nội </p>
                        
                        <p><i class="fa-solid fa-phone"></i> 0329203837</p>
                        <p><i class="fa-solid fa-envelope"></i> NguyenKimDan01@gmail.com</p>
                        
                    </div>

                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="footer_item">
                        <h3>FANPAGE CHÚNG TÔI</h3>
                        
                        <p><i class="fa-brands fa-facebook"></i> <a class="text-white" href="https://www.facebook.com/dan.dandidom.3" >Kim Dân</a></p> 
                        <p><i class="fa-brands fa-instagram"></i> <a class="text-white" href="https://www.instagram.com/kim.dan.n.k.d/" >kim.dan.n.k.d</a></p>
                    </div>

                </div>
            </div>
        </div>
    </footer>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <script src="../static/js/owl.carousel.js"></script>
    <script>
        $(document).ready(function () {
            $('.owl-carousel').owlCarousel({
                loop: true,
                margin: 10,
                nav: false,

                autoplay: true,
                autoplayTimeout: 3000,
                autoplayHoverPause: true,

                responsive: {
                    0: {
                        items: 1
                    },
                    600: {
                        items: 1
                    },
                    1000: {
                        items: 1
                    }
                }
            })
            $(function () {


                var zoom = function (elm) {
                    elm
                        .on('mouseover', function () {
                            $(this).children('.img').css({ 'transform': 'scale(2)' });
                        })
                        .on('mouseout', function () {
                            $(this).children('.img').css({ 'transform': 'scale(1)' });
                        })
                        .on('mousemove', function (e) {
                            $(this).children('.img').css({ 'transform-origin': ((e.pageX - $(this).offset().left) / $(this).width()) * 100 + '% ' + ((e.pageY - $(this).offset().top) / $(this).height()) * 100 + '%' });
                        })
                }

                $('.item_detail').each(function () {
                    $(this)
                        .append('<div class="img"></div>')
                        .children('.img').css({ 'background-image': 'url(' + $(this).data('image') + ')' });
                    zoom($(this));
                })

            })
        });

    </script>
</body>


</html>